/Chapter3/TestProgram/nbproject/private/
/Chapter3/TestProgram/build/
/Chapter3/TestProgram2/nbproject/private/
/Chapter3/TestProgram2/build/
/Chapter3/3.16/nbproject/private/
/Chapter3/3.16/build/
/Chapter3/3.16/dist/
/Chapter4/ShellGraphicsApplication/nbproject/private/
/Chapter4/GraphicsTesting/nbproject/private/
/Chapter4/GraphicsTesting/build/
/Chapter4/GraphicsTesting/dist/
/Chapter4/GraphicsTesting2/nbproject/private/
/Chapter4/GraphicsTesting2/build/
/Chapter4/4.5/nbproject/private/
/Chapter4/4.5/build/
/Chapter4/4.5/dist/