/Chapter3/TestProgram/nbproject/private/
/Chapter3/TestProgram/build/
/Chapter3/TestProgram2/nbproject/private/
/Chapter3/TestProgram2/build/
/Chapter3/3.16/nbproject/private/
/Chapter3/3.16/build/
/Chapter3/3.16/dist/
/Chapter4/ShellGraphicsApplication/nbproject/private/
/Chapter4/GraphicsTesting/nbproject/private/
/Chapter4/GraphicsTesting/build/
/Chapter4/GraphicsTesting/dist/
/Chapter4/GraphicsTesting2/nbproject/private/
/Chapter4/GraphicsTesting2/build/
/Chapter4/4.5/nbproject/private/
/Chapter4/4.5/build/
/Chapter4/4.5/dist/
/Chapter5/flowAndControl1/nbproject/private/
/Chapter5/flowAndControl1/build/
/TruthTableMaker/nbproject/private/
/FlowAndControl2/nbproject/private/
/FlowAndControl2/build/
/Chapter6/Files/nbproject/private/
/Chapter6/FirstLoop/nbproject/private/
/Chapter6/ReadFromFiles/nbproject/private/
/Chapter6/ReadFromFiles/build/
/Chapter6/ReadFromFiles/dist/
/Chapter6/InputChecking/nbproject/private/
/Chapter6/InputChecking/build/
/Chapter6/DoWhileLoop/nbproject/private/
/Chapter6/DoWhileLoop/build/
/Chapter6/GUIstuff/nbproject/private/
/Chapter6/GUIstuff/build/
/Midterm/MidTerm/nbproject/private/
/Midterm/MidTerm/build/